<% layout('./layouts/boilerplate') -%>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-8 offset-2">
        <h1 class="mb-4">Edit Details</h1>
        <form action="/listings" method="post">
          <div class="mb-3">
            <label for="title" class="form-label">Enter Title</label>
            <input type="text" id="title" class="form-control" name="listing[title]" />
          </div>
          <div class="mb-3">
            <label for="desc" class="form-label">Enter Descriptions</label>
            <textarea name="listing[description]" id="desc"  class="form-control"></textarea>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Enter Price</label>
            <input type="text" name="listing[price]" id="price" class="form-control" />
          </div>
          <div class="row">
            <div class="mb-3 col-md-5">
            <label for="location" class="form-label">Enter Location</label>
            <input type="text" id="location" name="listing[location]" class="form-control" />
          </div>
          <div class="mb-3 col-md-7">
            <label for="country" class="form-label">Enter Country</label>
            <input type="text" id="country" name="listing[country]" class="form-control" />
          </div>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input type="text" name="listing[image.url]" class="form-control" id="image" />
          </div>
          <button class="btn btn-dark createbtn">Submit</button>
          <br><br><br>
        </form>
      </div>
    </div>
  </div>
</body>
